<%= simple_nested_form_for(meta, multipart: true) do |f| %>
<div class="panel panel-default">
  <div class="panel-body">
    <% if meta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meta.errors.count, "erro") %></h2>

      <ul>
        <% meta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <%= f.input :nome, wrapper_html: {class: 'col-md-12'} %>
    </div>
    <div class="row">
      <%= f.association :tipo, collection: Tipo.all.order('valor_tipo DESC') , label_method: :nome, wrapper_html: {class: 'col-md-3'} %>
      <%= f.association :dificuldade, collection: Dificuldade.all.order('valor_dificuldade DESC'), label_method: :nome, wrapper_html: {class: 'col-md-3'} %>
      <%= f.association :ganho, collection: Ganho.all.order('valor_ganho DESC'), label_method: :nome, wrapper_html: {class: 'col-md-3'} %>
      <%= f.association :usuario, collection: Usuario.all.order('nome'), label_method: :nome, wrapper_html: {class: 'col-md-3'} %>
      <%= f.input :datameta, label: "Periodo da meta", wrapper_html: {class: 'col-md-4'} %>
    </div>

  </div>

  <div class="panel-footer">
    <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
    <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
    <%= link_to "Apagar", @meta,
    method: :delete,
    class: 'btn btn-danger pull-right',
      data: { confirm: 'Tem certeza que quer apagar?' } if @meta.persisted? %>
    </div>
  </div>
  <% end %>
