<div class="page-header">
  <h1>Metas de <%= mes = l @mes_referencia, :format => '%B' %> &nbsp;</h1>
  <div class="actions pull-right">
    <h2 class="lvh-label">
      <div class="btn-group">
        <%= link_to "<i class='fa fa-angle-left'></i>".html_safe,  {:periodo => @mes_referencia - 1.month}, :class => 'btn btn-default' %>
        <%= link_to mes, '', :class => 'btn btn-default' %>
        <%= link_to "<i class='fa fa-angle-right'></i>".html_safe, {:periodo => @mes_referencia + 1.month}, :class => 'btn btn-default' %>
      </div>
    </h2>
  </div>
  <%= link_to "Nova Meta", new_meta_path, class: 'btn btn-primary pull-left' %>
</div>
<div class="panel panel-default">
  <div class="panel panel-heading">
    <i class="fa fa-filter"></i>
    Responsável:
    <%= link_to "Todos", periodo: params[:periodo], com_responsavel: nil %>,
    <% Usuario.all.each do |u| %>
    <%= link_to u.nome,  periodo: params[:periodo], com_responsavel: u.id %> -
    <% end %>
    Status:
    <%= link_to "Não concluída", periodo: params[:periodo], com_responsavel: params[:com_responsavel],
     metas_not_done: params[:periodo] %> - 
    <%= link_to "Concluída", periodo: params[:periodo], com_responsavel: params[:com_responsavel],
     meta_done: params[:periodo] %>
  <span class="pull-right text-muted small"><em>Total <%= @metas.count %></em</span>
  </div>
  <% @bnf = Bonificacao.verifica_competencia(@mes_referencia) %>
  <table class="table table-condensed table-striped table-bordered table-hover">
    <% if @metas.present? %>
    <thead>
      <tr>
        <th>Nível</th>
        <th>Meta</th>
        <th>Detalhamento</th>
        <th>Status</th>
        <th>Responsável</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @metas.each do |meta| %>
      <% if meta.detalhamentos.present? %>      
      <% porcento = andamento(meta.id).to_i %>        
      <% end %>
      <tr>
        <td style="<%= background_meta(meta.nivel) %>" class="text-center"><strong><%= meta.nivel %></strong></td>
        <td class="<%= concluido(porcento) %>"><%= link_to meta.nome, meta %>
          <% if meta.detalhamentos.present? %>
          <% if andamento(meta.id).to_i == 100 %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= andamento(meta.id).to_i %>%;">
              <%= andamento(meta.id).to_i %>%
            </div>
          </div>
          <% else %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= andamento(meta.id).to_i %>%;">
              <%= andamento(meta.id).to_i %>%
            </div>
          </div>
          <% end %>
          <% end %>
        </td>
        <td class="col-sm-6  <%= concluido(porcento) %>">
          <% meta.detalhamentos.order('created_at').each do |item| %>
          <% if meta.detalhamentos.present? %>
          <p><%= item.item %></p>
          <% else %>
          <%= link_to 'Detalhar', detalhar_meta_path(meta), class: 'btn btn-primary btn-xs' %>
          <% end %>
          <% end %>
        </td>
        <td class="<%= concluido(porcento) %>">
        <% if @bnf.present? %>
          <% if meta.status %>
            <spam class="texte-success fa fa-check-circle fa-2x"> </spam>
          <% else %>
            <spam class="text-danger fa fa-times-circle fa-2x"></spam>
          <% end %>
        <% else %>
            <% meta.detalhamentos.order('created_at').each do |item| %>
              <% if item.status %>
                <p>
                  <input onchange="toggle_status(<%= item.id %>);" checked type="checkbox" data-toggle="toggle" data-on="Concluída" data-off="Pendente" data-onstyle="success" data-size="mini" data-offstyle="default">
                </p>
                <% else %>
                <p>
                  <input onchange="toggle_status(<%= item.id %>);" type="checkbox" data-toggle="toggle" data-on="Concluída" data-off="Pendente" data-onstyle="success" data-size="mini" data-offstyle="default">
                </p>
              <% end %>
            <% end %>
        <% end %>
        </td>
      </td>
      <td class="<%= concluido(porcento) %>">
        <%= meta.usuario.nome %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <% else %>
  <tr>
    <td>
      <div class="alert alert-info">
        Nenhuma meta cadastrada nesse período. <%= link_to "Cadastrar nova", new_meta_path, class: "alert-link" %>.
      </div>
    </td>
  </tr>
  <% end %>
</table>

  <div class="panel panel-footer">
  <% if @bnf.present? %>
    <a class="btn btn-success disabled">Mês fechado</a>
    <%= link_to "Ver resultado", bonificacao_path(@bnf.first.id), class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Fechar mês", fechar_mes_metas_path(data_referencia: @mes_referencia), class: "btn btn-success", data: { confirm: 'Tem certeza que deseja fechar o mês?' } %>
  <% end %>
  </div>
</div>

<script>

function toggle_status(id) {
  $.ajax({
    url:'/detalhamentos/'+id+'/toogle_status',
    type: 'GET'
  }).done(function() {
    console.log('alterado')
  });
}

</script>
