<%= simple_form_for(config, multipart: true) do |f| %>
<div class="panel panel-default">
  <div class="panel-body">
    <% if config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config.errors.count, "erro") %></h2>

      <ul>
        <% config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <%= f.input :valor_ganho, wrapper_html: {class: 'col-md-3'} %>
      <%= f.input :valor_dificuldade, wrapper_html: {class: 'col-md-3'} %>
      <%= f.input :valor_tipo, wrapper_html: {class: 'col-md-3'} %>
    </div>
  </div>

  <div class="panel-footer">
    <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
    <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
    <%= link_to "Apagar", @config,
    method: :delete,
    class: 'btn btn-danger pull-right',
    data: { confirm: 'Tem certeza que quer apagar?' } if @config.persisted? %>
  </div>
</div>
<% end %>
