<%= simple_form_for(gruposla, multipart: true) do |f| %>
<div class="panel panel-default">
  <div class="panel-body">
    <% if gruposla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gruposla.errors.count, "erro") %></h2>

      <ul>
        <% gruposla.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <%= f.input :nome %>
      <%= f.input :descricao %>
      <%= f.input :slaaceitavel %>
    </div>
  </div>

  <div class="panel-footer">
    <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
    <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
    <%= link_to "Apagar", @gruposla,
    method: :delete,
    class: 'btn btn-danger pull-right',
    data: { confirm: 'Tem certeza que quer apagar?' } if @gruposla.persisted? %>
  </div>
</div>
<% end %>
