<%= simple_form_for(tipo, multipart: true) do |f| %>
<div class="panel panel-default">
  <div class="panel-body">
    <% if tipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo.errors.count, "erro") %></h2>

      <ul>
        <% tipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row">
      <%= f.input :nome, wrapper_html: {class: 'col-md-6'} %>
      <%= f.input :valor_tipo, wrapper_html: {class: 'col-md-2'} %>
      <%= f.input :status, wrapper_html: {class: 'col-md-2'} %>
    </div>

  </div>

  <div class="panel-footer">
    <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
    <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
    <%= link_to "Apagar", @tipo,
    method: :delete,
    class: 'btn btn-danger pull-right',
      data: { confirm: 'Tem certeza que quer apagar?' } if @tipo.persisted? %>
    </div>
  </div>
  <% end %>
