
<div class="col-lg-12">
  <h1 class="page-header">Sistema de cadastro de metas</h1>
</div>


<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @metas %></div>
            <div>Metas de <%= l Date.today, format: '%B' %></div>
          </div>
        </div>
      </div>
      <%= link_to metas_path do %>
      <div class="panel-footer">
        <span class="pull-left">Ver metas</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
      <% end %>
    </div>
  </div>


</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Dificuldade <small>Metas por dificuldade</small></h2>
      </div>
      <%= pie_chart @todas_metas.group(:dificuldade_id).count, legend: "bottom" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Tipo <small>Metas por tipo</small></h2>
      </div>
      <%= pie_chart @todas_metas.group(:tipo_id).count, legend: "bottom" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Ganho <small>Metas por ganho</small></h2>
      </div>
      <%= pie_chart @todas_metas.group(:ganho_id).count, legend: "bottom" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Responsável <small>Metas por usuários</small></h2>
        <%= pie_chart @todas_metas.group(:usuario_id).count, legend: "bottom" %>
      </div>
    </div>
  </div>
</div>
