<div class="page-header">
  <h1>
    <%= @dificuldade.nome %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_dificuldade_path(@dificuldade), class: 'btn btn-primary' %>
  </div>
</div>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <td class="col-md-2">Descrição</td> <td><%= @dificuldade.nome %></td>
    </tr>
    <tr>
      <td class="col-md-2">Valor</td> <td><%= @dificuldade.valor_dificuldade %></td>
    </tr>
    <tr>
      <td>Data do cadastro</td> <td><%= l @dificuldade.created_at, format: :long %></td>
    </tr>
  </table>
</div>
