<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title><%= app_name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    .login-panel {
      margin-top: 20px;
    }
    body {
      background: <%= background %>;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <center>
            <%= image_tag logo, :style => "width: #{logo_width}; margin-top: 10px;"  %>
          </center>

          <% if notice %>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <%= notice %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

  </div>
  <!-- /#wrapper -->

</body>
</html>
